
.entirePage { 
    padding-top: 3%;
    width: 100%;
    border-radius: 15px;  
    background-color:  rgb(202, 150, 202);
    margin-top: 2% ;
    min-height: 100vh;  
    font-size: 20px;
}

.first-section { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(202, 150, 202);
    margin-top: 2%;
    
 }

 .first-section img {
    width: 100%;
 }

.first-image { 
    flex: 2;
    object-fit: contain;
}

.first-image-text {
    flex: 2;
}


 .first-text {
    text-align: center;
    padding-top: 40%;
    font-weight: bold;
 }

 .first-text-add {
    text-align: center;
 }


.second-section { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    background-color: rgb(202, 150, 202);
    align-items: center;
}

.second-section-text {
    flex: 2;
    text-align: center;
    font-weight: bold;
}

.second-section-images {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.second-section-images img {
    width: 100%;
    display: inline-block;
}

.imageOne {
   width: 40%;
}

.imageTwo {
    width: 40%;
}



.wrapDisplayImages {
    flex: 3;
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    max-height: 50vh;
    overflow-y: scroll;

 }

.second-text-add {
   font-size: medium;
   font-weight: normal;
}

a {
    color:antiquewhite;
}
    
.third-section {
    display: flex;
    flex-direction: row;
    background-color: rgb(202, 150, 202);
    justify-content: space-between;
    gap: 1%;
    align-items: center;
}

.third-section img {
    width: 100%;
    border-radius: 10px;
}

.text-third-section {
    flex: 2;
    text-align: center;
}

.image-description-third {
    text-align: center;
    font-weight: bold;
}


.image-third-section {
    flex:2;
}

.stopSlideShow {

    padding: 1%;
    border-radius: 10px;
    background-color: rgba(211, 35, 35, 0.8);
    transition: all 0.7s ease-in-out;
    
}

.stopSlideShow:hover {

    color:  rgb(211, 35, 35);
    background-color:black;
     transition: all 0.7s ease-in-out;
     box-shadow: 0 0 10px gray;
    
}


.contact {
    background-color: rgb(202, 150, 202);
    border-width: 2px;
    border-radius: 10px;
    color:white;
    transition: background-color 0.4s, color 0.4s;
    cursor:pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.contact:hover {
    background-color: antiquewhite;
    color: rgb(94, 183, 218);
}

.twitter-button {
    display: block;
    background-color: rgb(135, 57, 138);
    color:white;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 1%;
}

.imageDisplayBtn {
    background-color: blue;
    font-weight: bold;
    color:white;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
    border-radius: 20px;
    padding: 15px;
 
    }
    
.imageDisplayBtn:hover {
        background-color:white;
        color: blue;
        cursor: pointer;
    }
    
.imageDisplayBtn:active {
        opacity: 0.5;
    }



.CV {
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
    border-radius: 20px;
    color:white;
}

.CV:hover {
    color:red;
    cursor: pointer;
}

.fourth-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(202, 150, 202);
    justify-content: space-between;
    gap: 1%;
    align-items: center;
}

.fourth-text {
    flex:2;
    text-align: center;
 
}

.fourth-image {
    flex:2;
    width: 100%;
}

.fourth-image img {
    width: 100%;
    border-radius: 20px;
}

.first-text-fourth {
   
    font-weight: bold;
}
