
.entirePage { 
    padding-top: 3%;
    width: 100%;
    border-radius: 15px;
    
}


.renderHTML {
    flex: 1;
  }


.firstImage, .renderImage { 
    width : 100%;
    object-fit: contain;
}

.first-section { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    background-color: rgb(202, 150, 202);
    margin-top: 5%;
    
 }

 @media (max-width: 600px) {

    .first-section {display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40%;
        background-color: rgb(202, 150, 150);
        margin-top: 8%;}

 }
 
 .pageText {
    font-size: 30px;
    text-align: justify;
 }

 .first-text {
    text-align: center;
    padding-top: 40%;
    font-weight: bold;
    padding-left: 5%;
    font-size: 45px;
 }

 .first-text-add {
    margin-top: -30px;
    padding-left: 25%;
 }

 .first-image {
    width: 60%;
 }


.second-section { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    background-color: rgb(202, 150, 202);
    margin-top: 5px;
}


.wrapDisplayImages {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 20%; 
 }

 .imageOne {
    margin-right: none;
 }

 .twoImages {
    max-width: 40%;
 }
 
 .second-image-text {
     flex: 1;
     font-size: 45px;
    }


a {
    color:antiquewhite;
}
    
.third-section {
    display: flex;
    flex-direction: row;
    background-color: rgb(202, 150, 202);
}

.text-third-section {
    flex: 2;
    margin-right: 5%;
}

.image-third-section {
    flex:2;
}

.slideshow-button {
    margin:0 auto;
    background-image: url('../images-personal-website/aerial-view-lagoon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact {
    background-color: rgb(202, 150, 202);
    border-width: 2px;
    border-radius: 10px;
    color:white;
    transition: background-color 0.4s, color 0.4s;
    cursor:pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.contact:hover {
    background-color: antiquewhite;
    color: rgb(94, 183, 218);
}

.twitter-button {
    display: block;
    background-color: rgb(135, 57, 138);
    color:white;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 1%;
}

.imageDisplaybtn {
    background-color: blue;
    font-weight: bold;
    color:white;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
    border-radius: 20px;
    padding: 15px;
 
    }
    
.imageDisplaybtn:hover {
        background-color:white;
        color: blue;
        cursor: pointer;
    }
    
.imageDisplaybtn:active {
        opacity: 0.5;
    }

.cvContainer {
}

.CV {
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
    border-radius: 20px;
    color:white;
}

.CV:hover {
    color:red;
    cursor: pointer;
}

.fourth-section {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
background-color: rgb(204, 99, 204);
}

.fourth-text {
    flex:2;
    padding-left: 5%;
}

.fourth-image {
    flex:2;
}