body {

    background: linear-gradient(to bottom, rgb(125, 60, 125) 0%, rgb(78, 25, 78) 40%, rgb(78, 25, 78) 60%, rgb(49, 14, 49) 100%);
}

.header {

    display: hidden;
}

.entirePage {
    border-radius: 15px;

}

.first-section {

    display: flex;

    flex-direction: column;

    background: linear-gradient(to right, rgb(31, 15, 31) 0%, rgb(78, 41, 78) 45%, rgb(78, 41, 78) 55%, rgb(43, 20, 43) 100%);

    box-shadow: 0 0 10px black;

    border-radius: 8px;

    margin: 15px 0;

    padding: 8px 10px
}


.first-image-text {
    flex: 1;
    justify-content: center;
    text-align: center;
    font-weight: bold;

    border-radius: 8px;
}

.first-image {
    flex: 1;
    object-fit: contain;
    display: flex;
    padding: 8px 4px;
    border-radius: 8px;
}

.wrapImages {

    display: flex;
    justify-content: center;
}

.wrapImages img {

    width: 80%;

    border-radius: 8px;

    box-shadow: 0 0 5px white;

}

.second-section {

    display: flex;

    flex-direction: column;

    background: linear-gradient(to right, rgb(39, 7, 39) 0%, rgb(92, 17, 92) 35%, rgb(92, 17, 92) 55%, rgb(39, 7, 39) 100%);

    border-radius: 8px;

    box-shadow: 0 0 5px rgb(12, 12, 12);

    padding: 8px 10px;

    margin: 10px 0;



}

.second-image {

    display: flex;
}

.second-image-text {

    display: flex;
    flex: 1;
    flex-direction: column;
}

.imageOne,
.imageTwo {

    display: flex;
}

.imageOne img,
.imageTwo img {

    width: 100%;
    flex: 1;
    border-radius: 8px;
}

.second-image-text {

    flex: 1;
    font-weight: bold;

    height: auto;
}

.second-image-descriptions {

    text-align: center;

    font-weight: bold;
}

.slideshow-button {

    text-align: center;
}

.imageDisplayBtn {
    background-color: rgb(106, 72, 115);
    font-weight: bold;
    border: 2px solid black;
    color: rgb(35, 34, 34);
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    padding: 15px;

}

.third-section {

    display: flex;

    flex-direction: column;

    background: linear-gradient(to right, rgb(39, 7, 39) 0%, rgb(92, 17, 92) 35%, rgb(92, 17, 92) 55%, rgb(39, 7, 39) 100%);

    border-radius: 8px;

    box-shadow: 0 0 5px rgb(12, 12, 12);

    text-align: center;

}

.third-image-text {

    display: flex;

    flex: 1;

    flex-direction: column;

    margin: 20px 0;

    font-weight: bold;
}

.third-image {

    display: flex;

    flex: 1;

    width: 80%;

    border-radius: 8px;

    justify-content: center;

    margin: 0 auto;

    padding: 8px 4px;
}

.third-image img {

    width: 100%;
}

.fourth-section {

    display: flex;

    flex-direction: column;

    background: linear-gradient(to right, rgb(39, 7, 39) 0%, rgb(92, 17, 92) 35%, rgb(92, 17, 92) 55%, rgb(39, 7, 39) 100%);

    border-radius: 8px;

    box-shadow: 0 0 5px rgb(12, 12, 12);

    text-align: center;

    padding: 8px 10px;

    margin: 10px 0;



}

.fourth-image {

    display: flex;

    flex: 1;

    width: 90%;

    border-radius: 8px;

    justify-content: center;

    margin: 0 auto;


}

.fourth-image img {

    width: 100%;
}

.fourth-image-text {

    display: flex;

    flex: 1;

    flex-direction: column;

    font-weight: bold;
}

.transparent-text {
    color: transparent;
    background: linear-gradient(to right, red, blue, red);
    -webkit-background-clip: text;
    background-clip: text;

}


.color {

    color: rgb(199, 95, 113)
}

/*

.stopSlideShow {

    padding: 1%;
    border-radius: 10px;
    background-color: rgba(211, 35, 35, 0.8);
    transition: all 0.7s ease-in-out;

}

.stopSlideShow:hover {

    color: rgb(211, 35, 35);
    background-color: black;
    transition: all 0.7s ease-in-out;
    box-shadow: 0 0 10px gray;

}


.contact {
    background-color: rgb(202, 150, 202);
    border-width: 2px;
    border-radius: 10px;
    color: white;
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.contact:hover {
    background-color: antiquewhite;
    color: rgb(94, 183, 218);
}

.twitter-button {
    display: block;
    background-color: rgb(135, 57, 138);
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 1%;
}



.imageDisplayBtn:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}

.imageDisplayBtn:active {
    opacity: 0.5;
}