html {
    scroll-behavior: smooth;
}


.header {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(199, 95, 113, 0.9);
    color: black;
    font-family: sans-serif, Verdana;
    font-weight: bold;
    position: fixed;
    transition: all 0.6s ease-in-out;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    width: 100%
}

.header div {

    padding: 1%;
    border-radius: 10px;
}

.header div:hover {

    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(199, 95, 113, 0.9);
    transition: all 0.6s ease-in-out;
    box-shadow: 0 0 15px rgba(239, 225, 206, 0.5);

}


a {
    text-decoration: none;

    color: black
}

.blog-nav {

    background-color: rgb(202, 150, 202);

    margin-bottom: 1px;
}