body {
    background-color: black;
}

button {
    border: 1px solid blue;
}


.entirePage { 
    width: 100%;
    background-color: black;
    color: rgb(94, 183, 218);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.wrapImages {
    width: 100%;
}

.wrapDisplayImages {
    width: 100%;
    overflow: hidden;
}

.imageOne {
    width: 40%;
    display: inline-block;
}

.imageTwo {
    display: inline-block;
    width: 40%
}

img {
    border-radius: 30px;
}


.twoImages {
    width: 100%
}

.pageText {
    max-width: 90%;
}

.renderHTML {
    width: 100%;
    max-height: 20%;
  }

.header { background: black;
    color: rgb(94, 183, 218);
    font-family:sans-serif, Verdana;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    width: 100%;
}

.firstImage, .renderImage { 
    width : 100%;
    object-fit: contain;
}

.leftSide { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.0;
    text-align: justify;
    flex: 2;
 }

 @media (max-width: 600px) {
    .leftSide {
      display: inline-block;
      /* Add other styles for your container when on mobile */
      background-color: rgb(10, 3, 3);
    }
    .entirePage {
        display: grid;
    }
  }

.rightSide { 
    border-radius: 20px;
    vertical-align: bottom;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    flex: 1;
    margin-left: 2%;
}

.leftSide:hover, .rightSide:hover {
    color:rgb(94, 183, 218);
}

a {
    color:antiquewhite;
}

.contact {
    background-color: blue;
    border-width: 2px;
    border-radius: 10px;
    color:white;
    transition: background-color 0.4s, color 0.4s;
    cursor:pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.contact:hover {
    background-color: antiquewhite;
    color: rgb(94, 183, 218);
}

.twitter-button {
    display: block;
    background-color: rgb(57, 57, 138);
    color:white;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 1%;
}

.imageDisplaybtn {
    background-color: blue;
    font-weight: bold;
    color:white;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
    border-radius: 20px;

    }
    
.imageDisplaybtn:hover {
        background-color:white;
        color: blue;
        cursor: pointer;
    }
    
.imageDisplaybtn:active {
        opacity: 0.5;
    }

.cvContainer {
}

.CV {
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
    border-radius: 20px;
    color:white;
}

.CV:hover {
    color:red;
    cursor: pointer;
}