html {
    scroll-behavior: smooth;
}

body {
    background-color:  rgba(199, 95, 113);
    color:black;
    text-align: justify;
    min-height: 100vh;
    font-size: 20px;
    position: relative;
}


button {
    border: 1px solid blue;
    padding: 1%;
}


.page-top {

    background-color: rgba(199, 95, 113);
    min-height: 40vh;
    display: flex;
    align-items: center;
}


.brief-description {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
  /*  border: 2px solid red;*/
 
}

.for-text {
    
    flex: 2;
    display: flex;
    flex-direction: column;
}

.occupationDesc {

    display: flex;
    flex-direction: column;
    font-size: 30px;
}


.for-image {
    flex: 2;
    align-content: center;
}

@media (width > 1500px) {

    .for-text{
        
        display: flex;
        text-align: center;
        align-items: center;
    }

    .occupationDesc {
        font-size: 40px;
    }

}
 
@media (width < 570px) {

    .for-image{
        flex: 3;
        align-content: center;
    }

    .occupationDesc{
        font-size: 20px;
    }

    .normal-text {
        font-size: 15px;
    }

    .for-text-middle{
        
    }
}




@media (width < 415px) {
    .page-top {
        min-height: 30vh;
    }

     .for-image{
        flex: 2;
        align-content: center;
        
    }

    .occupationDesc{
        font-size: 18px;
       
    }

    .normal-text {
        font-size: 12px;
    }


}


img {
    width:100%;
    border-radius: 30px;
}



.page-middle {
    background-image: url('../images-personal-website/office-picture.jpg');
    background-repeat: no-repeat;
    min-height: 60vh;
    background-size: cover;
    box-shadow: 0 0 10px rgba(199, 95, 113);
    display: flex;
    align-items: center;

   

}

.for-text-middle {

    background-color: #f8f9fa;
    opacity: 0.9;
    padding: 2%;
    box-shadow: 0 0 16px gray;
    border-radius: 20px;
    margin-left: 2%;

}